<div id="tooplate_footer_wrapper">
	<div id="tooplate_footer">
    	<div class="col_4">
        	<h5>Other Useful Links</h5>
          <ul class="footer_list">
          	<li><a href="https://itemsearch-a446679.apaas.us6.oraclecloud.com/itemsearch/">Quick Item Search</a></li>
            <li><a href="https://languagetranslator-a446679.apaas.us6.oraclecloud.com/translate/langlist">Language Search</a></li>
            <li><a href="#">Manage Reservation</a></li>
            <li><a href="#">Contact</a></li>
			    </ul>
      </div>
      <div class="col_4 col_l">
      	<h5>About</h5>
        <p>This web application will help you reserving items from Oracle cloud.</p>
        <div class="footer_social_button">
          <a href="#"><img alt="Facebook" src="../images/facebook-32x32.png" title="facebook" /></a>
          <a href="#"><img alt="Flickr" src="../images/flickr-32x32.png" title="flickr" /></a>
          <a href="#"><img alt="Twitter" src="../images/twitter-32x32.png" title="twitter" /></a>
          <a href="#"><img alt="Youtube" src="../images/youtube-32x32.png" title="youtube" /></a>
          <a href="#"><img alt="RSS" src="../images/rss-32x32.png" title="rss" /></a>
			  </div>
		  </div>
      <div class="cleaner"></div>
    </div>
</div>

<div id="tooplate_cr_bar_wrapper">
	<div id="tooplate_cr_bar">
	Copyright © 2018 <a href="#">IBM Corporation</a>
    </div>
</div>
